.login {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: 15%;
}

.login__form {
  padding: 125px;
  display: flex;
  flex-direction: column;
  border: 3px solid #252525;
  border-radius: 10px;
  background-color: #868686;
}

.login__form--title {
  margin-bottom: 30px;
}

.login__form--message {
  height: 10px;
  margin-bottom: 25px;
}

.login__form--paragraph {
  color: #b4b4b4;
}
