<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="login">
        <form
          (keydown.enter)="submitLogin()"
          class="login__form"
          [formGroup]="loginForm">
          <h1
            i18n="form title | authentication message"
            class="login__form--title center-md">
            Log In
          </h1>
          <label i18n>Email</label>
          <input
            i18n-placeholder="From placeholder"
            class="form-control"
            id="defaultLoginFormEmail"
            placeholder="E-mail"
            formControlName="email"
            type="text" />
          <div class="login__form--message">
            <p
              i18n
              class="login__form--paragraph"
              *ngIf="
                this.loginForm.get('email')?.invalid &&
                this.loginForm.get('email')?.touched
              ">
              *Email is required
            </p>
          </div>

          <label i18n="password label | message on top of input@@password"
            >Password</label
          >
          <input
            i18n-placeholder="From placeholder"
            class="form-control"
            autocomplete="on"
            placeholder="Password"
            id="defaultLoginFormPassword"
            formControlName="password"
            type="password" />
          <div class="login__form--message">
            <p
              i18n
              class="login__form--paragraph"
              *ngIf="
                this.loginForm.get('password')?.invalid &&
                this.loginForm.get('password')?.touched
              ">
              *Password is required
            </p>
          </div>
          <button
            i18n
            class="btn btn-primary"
            type="button"
            (click)="submitLogin()">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
